
.col-lg-4{
    background-color:rgb(186, 213, 226);
    height:90vh;
    text-align:center;
    padding-top:5%;
    color:fff;
}

.col-lg-8{
    background-image:url('/imgs/constellate.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    width:100%;
    height:90vh;
    padding-top:5%;
    text-align:center;
}

.col-sm-10{
    text-align:center;

}

.form-group{
    width:60%;
    margin:0px auto;
}

.img-circular{
 width: 70px;
 height: 70px;
 background-image: url("/uploads/avatars/{{ Auth::user()->avatar }}");
 margin-right:10px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}

.img-circular-p{
 width: 200px;
 height: 200px;
 float:left;
 background-image: url("/uploads/avatars/{{ Auth::user()->avatar }}");
 margin-right:10px;
 background-size: cover;
 display: block;
 border-radius: 100px;
 -webkit-border-radius: 100px;
 -moz-border-radius: 100px;
}


/* unvisited link */
.nav-link a:link {
    color: #fff;
}

/* visited link */
.nav-link a:visited {
    color: #fff;
}

/* mouse over link */
.nav-link a:hover {
    color: rgb(69, 50, 208);
}

/* selected link */
.nav-link a:active {
    color: rgb(69, 50, 208);
}


.twt-wrapper .panel-body {
    max-height:650px;
    overflow:auto;
}
.twt-wrapper .media-list .media img {
    width:64px;
    height:64px;
    border:2px solid #e5e7e8;
}
.twt-wrapper .media-list .media {
    border-bottom:1px dashed #efefef;
    margin-bottom:25px;
}


@media only screen and (max-width: 600px) {
.col-lg-4{

    height:50vh;

}

.panel{
    width:50%;
    background color:rgb(209, 209, 209);
}
